.logo, 
.header {
    max-height: 45px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    flex: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
}

.navlink {
    padding: 5px;
    text-decoration: none;
}

.navlink.current {
    border-bottom: solid 1px red;
}